{% block body %}
	<div class="card-body ">
		{{ form_start(productVersionForm, { attr: { class: 'd-flex flex-column ', id: 'formCreationForm', method: 'POST', enctype: 'multipart/form-data' }, action: path('app_productVersion_creation') }) }}
		<div class="row">
			<div class="col-6">
				{{ form_label(productVersionForm.name) }}
				{{ form_widget(productVersionForm.name) }}
			</div>
			{% if productVersions is not empty %}
				<div class="col-6 mt-auto accordion" id="accordionproductVersionList">
					<div class="accordion-item shadow-lg shadow-lg-inset border border-dark">
						<h2 class="accordion-header" id="headingproductVersionList">
							<button class="accordion-button btn btn-outline-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseproductVersionList" aria-expanded="false" aria-controls="collapseproductVersionList">
								Liste des productVersions
							</button>
						</h2>
						<div id="collapseproductVersionList" class="accordion-collapse collapse" aria-labelledby="headingproductVersionList" data-bs-parent="#accordionproductVersionList">
							<div class="accordion-body">
								<ul class="list-group">
									{% for productVersion in productVersions %}
										{% if productVersion.archived == false or productVersion.archived == null %}

											<li class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-lg">
												{{ productVersion.name }}
												<div class="ml-auto">
													<a class="btn btn-danger shadow delete-incident" href="{{path('app_archive_entity', {entityType: 'productVersion', id: productVersion.id})}}">Supprimer</a>
												</div>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="d-grid col-auto mx-auto">
			{{ form_label(productVersionForm.save) }}
			{{ form_widget(productVersionForm.save) }}
		</div>
		{{ form_end(productVersionForm) }}
	</div>
{% endblock %}
