{% block body %}
	<div
		class="card border-0 shadow rounded-3 my-5 bg-secondary">
		<div
			class="card-body ">
			{{ form_start(anomalyTypeForm, { attr: { class: 'd-flex flex-column ', id: 'formCreationForm', method: 'POST', enctype: 'multipart/form-data' }, action: path('app_anomalyType_creation') }) }}
			<div
				class="col-md-auto">
				{{ form_label(anomalyTypeForm.name) }}
				{{ form_widget(anomalyTypeForm.name) }}
			</div>
			<div
				class="d-grid col-md-auto mx-auto">
				{{ form_label(anomalyTypeForm.save) }}
				{{ form_widget(anomalyTypeForm.save) }}
			</div>
			{{ form_end(anomalyTypeForm) }}
		</div>
	</div>
{% endblock %}
