{% extends 'base.html.twig' %}
{% block title %}
	Modification de FNC
{% endblock %}

{% block body %}
	<h3
		class="text-white mb-5">
		<strong>
			Modification de la Fiche de Non-Conformité :
		</strong>
	</h3>
	<div
		class="col-lg-8 mx-auto">
		<div
			class="card border-0 shadow rounded-3 my-5 bg-secondary">
			<div
				class="card-body">
				{{ form_start(form1, { 
					attr: { 
						id: 'formModificationForm', 
						method: 'POST', 
						enctype: 'multipart/form-data' }, action: path('app_form_modification_display', {'efncID': EFNC.id}) }) }}
				<div
					class="row g-3">
					<h3>
						<strong>
							Enregistrement de la Non-Conformité:
						</strong>
					</h3>
					{% set fields = [
						'Creator', 'DetectionDate', 'DetectionTime', 'Team','UAP',
						'DetectionPlace', 'Project', 'product',
						 'NonConformityOrigin', 'SAPReference'
					] %}
					{% for field in fields %}
						{{ form_row(form1[field]) }}
					{% endfor %}
					<h3>
						<strong>
							Description du Problème :
						</strong>
					</h3>
					{% set problemDetails = ['AnomalyType', 'Quantity', 'QuantityToBlock', 'DetailedDescription'] %}
					{% for detail in problemDetails %}
						{{ form_row(form1[detail]) }}
					{% endfor %}
					<div
						class="mb-3"
						id="traceability-picture-container">
						<label
							class="form-label"
							style="font-weight: bold; color: #ffffff;"
							for="picture_TraceabilityPicture">
							Photo de Traçabilité Obligatoire :
						</label>
						{% if EFNC.pictures is defined and EFNC.pictures is not empty %}
							{% for picture in EFNC.pictures %}
								{% if picture.category is same as('traceability') %}
									<img
										class="img-fluid"
										src="{{path('app_picture_view', {'pictureID': picture.id})}}" alt="Image de traçabilité obligatoire">
								{% endif %}
								{% if picture.category is same as(null) %}
									<img
										class="img-fluid"
										src="{{path('app_picture_view', {'pictureID': picture.id})}}" alt="Image de traçabilité obligatoire">
								{% endif %}
							{% endfor %}
						{% endif %}
						<input
							type="file"
							id="picture_TraceabilityPicture"
							name="picture[TraceabilityPicture][]"
							multiple="multiple"
							class="form-control mx-auto"
							placeholder="Photo de Traçabilité Obligatoire">
						<div
							id="TraceabilityPicturePreview"></div>
					</div>
					<div
						class="mb-3"
						id="nc-picture-container">
						<label
							class="form-label"
							style="font-weight: bold; color: #ffffff;"
							for="picture_NCpicture">
							Photo de non-conformité :
						</label>
						{% if EFNC.pictures is defined and EFNC.pictures is not empty %}
							{% for picture in EFNC.pictures %}
								{% if picture.category is same as('NC') %}
									<img
										class="img-fluid"
										src="{{path('app_picture_view', {'pictureID': picture.id})}}" alt="Image de traçabilité obligatoire">
								{% endif %}
							{% endfor %}
						{% endif %}
						<input
							type="file"
							id="picture_NCpicture"
							name="picture[NCpicture][]"
							multiple="multiple"
							class="form-control mx-auto"
							placeholder="Photo de non-conformité">
						<div
							id="NCpicturePreview"></div>
					</div>
					<h3>
						<strong>
							Mesures Conservatoire Immediates:
						</strong>
					</h3>
					<div
						id="imcome-container"
						data-prototype="{{ form_widget(form1.immediateConservatoryMeasures.vars.prototype)|e('html_attr') }}">
						{% for imcomeFormEntry in form1.immediateConservatoryMeasures %}
							<div
								class="imcome-entry">
								{{ form_widget(imcomeFormEntry, {'attr': {'class': 'row'}}
								) }}
							</div>
						{% endfor %}
					</div>
					{% if is_granted('ROLE_ADMIN')%}
						<button
							type="button"
							id="add-another-imcome"
							class="btn btn-info">
							Ajouter une autre Mesure
						</button>
					{% endif %}
					{% if form1.riskWeighting is defined %}

						<h3>
							<strong>
								Priorisation de la non-conformité :
							</strong>
						</h3>
						{% for riskWeightingFormEntry in form1.riskWeighting %}
							{{ form_row(riskWeightingFormEntry) }}
						{% endfor %}
						<div
							class="risk-priority-explanation"></div>
						<div
							id="rpi-high-risk"
							style="color: #ffcccb;">
							<strong>
								Risque Élevé:
							</strong>
							Réaliser une analyse 8D.
						</div>
						<div
							id="rpi-medium-risk"
							style="color: #ffeda6;">
							<strong>
								Risque Moyen:
							</strong>
							Réaliser une analyse de causes potentielles.
						</div>
						<div
							id="rpi-low-risk"
							style="color: #c8f7c5;">
							<strong>
								Risque Faible:
							</strong>
							Pas d'analyse, affichage au poste : Alerte d'un Problème.
						</div>
					{% endif %}
				</div>

				{% if is_granted('ROLE_ADMIN') %}
					{% if EFNC.LastModifier is null %}
						{% else %}
							<div
								class="d-grid gap-2 d-md-flex justify-content-md-center mt-5 text-white">
								Derniere modification effectué par

								{{ EFNC.LastModifier|capitalize|split('.')|first }}
								{{ EFNC.LastModifier|upper|split('.')|last }}
							</div>
					{% endif %}
					{% if EFNC.archived is null and EFNC.status is null %}
						<div
							class="d-grid gap-2 d-md-flex justify-content-md-center mt-3 textwhite">
							<button
								type="submit"
								class="btn btn-primary mb-1 submit-EFNCform-modification">
								Modifier
							</button>
						</div>
					{% endif %}


				{% endif %}
			</div>
			{{ form_end(form1) }}
			{% if is_granted('ROLE_ADMIN') %}

				{% if EFNC.archived is null and EFNC.status is null %}

					<form
						method="post"
						action="{{ path('app_archive_entity', {entityType: 'efnc', id: EFNC.id}) }}">

						<div
							class="container mt-2 mb-2"
							data-controller="archiving-commentary">
							<div
								class="row justify-content-md-center">
								<div
									class="col-md-12">
									<label
										for="archivingCommentary"
										class="form-label text-white">
										Commentaire d'archivage obligatoire (Ecrire le commentaire pour faire apparaitre le bouton d'archivage)
										<div
											data-archiving-commentary-target="archivingCommentaryMessage"
											class="archivingCommentaryMessage-message d-flex justify-content-evenly"></div>
									</label>
									<textarea
										class="form-control"
										id="archivingCommentary"
										name="archivingCommentary"
										data-archiving-commentary-target="archivingCommentary"
										data-action="keyup->archiving-commentary#archivingCommentary"></textarea>
								</div>
							</div>
							<div
								class="d-grid gap-2 d-md-flex justify-content-md-center mt-2 mb-2">
								<button
									type="submit"
									class="btn btn-danger archive-EFNC"
									data-archiving-commentary-target="archivingButton"
									hidden
									disabled>
									Archiver
								</button>

							</div>
						</div>

					</form>
					<form
						method="post"
						action="{{path('app_close_entity', {entityType: 'efnc', id: EFNC.id})}}">

						<div
							class="container mt-2 mb-2"
							data-controller="closing-commentary">
							<div
								class="row justify-content-md-center">
								<div
									class="col-md-12">
									<label
										for="closingCommentary"
										class="form-label text-white">
										Commentaire de cloture obligatoire (Ecrire le commentaire pour faire apparaitre le bouton de cloture)
										<div
											data-closing-commentary-target="closingCommentaryMessage"
											class="closingCommentaryMessage-message d-flex justify-content-evenly"></div>
									</label>
									<textarea
										class="form-control"
										id="closingCommentary"
										name="closingCommentary"
										data-closing-commentary-target="closingCommentary"
										data-action="keyup->closing-commentary#closingCommentary"></textarea>
								</div>
							</div>
							<div
								class="d-grid gap-2 d-md-flex justify-content-md-center mt-2 mb-2">
								<button
									type="submit"
									class="btn btn-danger close-EFNC"
									data-closing-commentary-target="closingButton"
									hidden
									disabled>
									Cloturer
								</button>
							</div>
						</div>

					</form>
				{% elseif EFNC.archived is same as(true) and EFNC.status is null %}
					<div
						class="d-grid gap-2 d-md-flex justify-content-md-center mt-2 mb-2 text-white">
						Archivage effectué par

						{{ EFNC.Archiver|capitalize|split('.')|first }}
						{{ EFNC.Archiver|upper|split('.')|last }}

						avec le commentaire suivant :
						{{ EFNC.archivingCommentary }}
					</div>
					{% if is_granted('ROLE_MASTER_ADMIN') %}
						<div
							class="d-grid gap-2 d-md-flex justify-content-md-center mt-2 mb-2">
							<a
								class="btn btn-danger close-EFNC"
								href="{{path('app_close_entity', {entityType: 'efnc', id: EFNC.id})}}">
								Cloturer
							</a>
						</div>
					{% endif %}
				{% elseif EFNC.archived is same as(true) and EFNC.status is not null %}
					<div
						class="d-grid gap-2 d-md-flex justify-content-md-center mt-2 mb-2 text-white">
						Cloture effectué par

						{{ EFNC.Closer|capitalize|split('.')|first }}
						{{ EFNC.Closer|upper|split('.')|last }}

						avec le commentaire suivant :
						{{ EFNC.ClosingCommentary }}
					</div>
				{% endif %}
			{% endif %}

		</div>
	</div>
{% endblock %}
