{% block stylesheets %}
	{{
            encore_entry_link_tags('app')
        }}
{% endblock %}
{% block body %}

	<ul class="list-group" style="background-color:azure">

		{% for EFNC in EFNCs|sort((a,b) => b.id <=> a.id) %}
			{% if EFNC.archived == true %}

				<div class="ml-auto">
					<strong>
						<a target="_top" href=" {{path('app_form_modification_display', { 'efncID': EFNC.id})}}" {% if EFNC.Status is same as (null) %} class="list-group-item list-group-item-action list-group-item-light  " {% elseif EFNC.Status is same as (true) %} class="list-group-item list-group-item-action list-group-item-success  " {% else %} class="list-group-item list-group-item-action list-group-item-warning" {% endif %}>

							<div class="d-flex justify-content-between align-items-center">
								<div>
									{{ EFNC.Title|upper|split('_')|first }}
									{{ EFNC.id|upper}}
								</div>
								<div>
									|
								</div>
								<div>
									{{ EFNC.nonConformityOrigin.name|upper }}
								</div>
								<div>
									|
								</div>
								<div>
									{{ EFNC.product.category.name|upper }}-
									{{ EFNC.product.version.name|upper }}-
									{{ EFNC.product.color.name|upper }}
								</div>
								<div>
									|
								</div>
								<div>
									{{EFNC.Project.name|upper }}
								</div>
								<div>
									|
								</div>
								<div>
									{{EFNC.CreatedAt|date('d/m/Y') }}
								</div>

							</div>
						</a>
					</strong>
				</div>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
