{% block stylesheets %}
	{{
            encore_entry_link_tags('app')
        }}
{% endblock %}
{% block body %}

	<ul
		class="list-group"
		style="background-color:azure">

		{% for EFNC in EFNCs|sort((a,b) => b.id <=> a.id) %}
			{% if EFNC.archived == false or EFNC.archived == null %}

				<div
					class="ml-auto">
					<strong>
						<a
							target="_top"
							href=" {{path('app_form_modification_display', { 'efncID': EFNC.id})}}"
							class="list-group-item list-group-item-action list-group-item-light">

							<div
								class="d-flex justify-content-between align-items-center"
								{% if EFNC.riskWeighting is not null %} {% if EFNC.riskWeighting.riskPriorityIndex > 300 %} style="display: flex; background-color: #ffcccb;"
								{% elseif EFNC.riskWeighting.riskPriorityIndex > 100 %} style="display: flex;background-color: #ffeda6;"
								{% else %} style="display: flex; background-color: #c8f7c5;"
								{% endif %} style="display: flex;"
								{% endif %}>
								<div
									style="flex: 1; text-align: center;">
									{{ EFNC.Title|upper|split('_')|first }}
									{{ EFNC.id|upper}}
								</div>
								<div
									style="flex: 0;">
									|
								</div>
								<div
									style="flex: 2; text-align: center;">
									{{ EFNC.nonConformityOrigin.name|upper }}
								</div>
								<div
									style="flex: 0;">
									|
								</div>
								<div
									style="flex: 5; text-align: center;">
									{{ EFNC.product.category.name|upper }}
									-
									{{ EFNC.product.version.name|upper }}
									-
									{{ EFNC.product.color.name|upper }}
								</div>
								<div
									style="flex: 0;">
									|
								</div>
								<div
									style="flex: 1; text-align: center;">
									{{EFNC.Project.name|upper }}
								</div>
								<div
									style="flex: 0;">
									|
								</div>
								<div
									style="flex: 1; text-align: center;">
									{{EFNC.CreatedAt|date('d/m/Y') }}
								</div>
							</div>

						</a>
					</strong>
				</div>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
