{% block body %}
	<div
		class="card border-0 shadow rounded-3 my-5 bg-secondary">
		<div
			class="card-body ">
			{{ form_start(teamForm, { attr: { class: 'd-flex flex-column ', id: 'formCreationForm', method: 'POST', enctype: 'multipart/form-data' }, action: path('app_team_creation') }) }}
			<div
				class="col-md-auto">
				{{ form_label(teamForm.Name, "Nom de l'équipe :", { label_attr: { class: 'form-label', for: 'Name' } }) }}
				{{ form_widget(teamForm.Name, { attr: { class: 'form-control', id: 'Name', placeholder: "Nom de l'equipe", required: 'true' } }) }}
			</div>
			<div
				class="d-grid col-md-auto mx-auto">
				{{ form_label(teamForm.save) }}
				{{ form_widget(teamForm.save) }}
			</div>
			{{ form_end(teamForm) }}
		</div>
	</div>
{% endblock %}
