{% block body %}
	<div class="card-body">
		{{ form_start(teamForm, { attr: { class: 'd-flex flex-column', 
		id: 'teamCreationForm', 
		method: 'POST', 
		enctype: 'multipart/form-data' }, 
		action: path('app_team_creation') }) }}
		<div class="row">
			<div class="col-6">
				{{ form_label(teamForm.name) }}
				{{ form_widget(teamForm.name) }}
				<div class="d-grid col-auto mx-5 ">
					{{ form_label(teamForm.save) }}
					{{ form_widget(teamForm.save) }}
				</div>
			</div>

			{% if teams is not empty %}
				<div class="col-6 mt-auto mb-auto accordion" id="accordionTeamList">
					<div class="accordion-item shadow-lg shadow-lg-inset border border-dark">
						{% set archivedTeams = [] %}
						{% set nonArchivedTeams = [] %}

						{% for team in teams %}
							{% if team.archived == true %}
								{% set archivedTeams = archivedTeams|merge([team]) %}
							{% elseif team.archived == false or team.archived is null %}
								{% set nonArchivedTeams = nonArchivedTeams|merge([team]) %}
							{% endif %}
						{% endfor %}


						{% if nonArchivedTeams is not empty %}
							<h2 class="accordion-header" id="headingTeamList">
								<button class="accordion-button btn btn-outline-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTeamList" aria-expanded="false" aria-controls="collapseTeamList">
									Liste des Equipes
								</button>
							</h2>
							<div id="collapseTeamList" class="accordion-collapse collapse" aria-labelledby="headingTeamList" data-bs-parent="#accordionTeamList">
								<div class="accordion-body">
									<ul class="list-group">
										{% for team in nonArchivedTeams %}

											<li class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-lg">
												{{ team.name }}
												<div class="ml-auto">
													<a class="btn btn-danger shadow archive-entity" href="{{path('app_archive_entity', {entityType: 'team', id: team.id})}}">Archiver</a>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

						{% if archivedTeams is not empty %}
							<h2 class="accordion-header" id="headingArchivedTeamsList">
								<button class="accordion-button btn btn-outline-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseArchivedTeamsList" aria-expanded="false" aria-controls="collapseArchivedTeamsList">
									Liste des Equipes Achivées
								</button>
							</h2>
							<div id="collapseArchivedTeamsList" class="accordion-collapse collapse" aria-labelledby="headingArchivedTeamsList" data-bs-parent="#accordionTeamList">
								<div class="accordion-body">
									<ul class="list-group">
										{% for team in archivedTeams %}

											<li class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-lg">
												{{ team.name }}
												<div class="ml-auto">
													<a class="btn btn-danger shadow restore-entity" href="{{path('app_unarchive_entity', {entityType: 'team', id: team.id})}}">Restorer</a>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

					</div>
				</div>
			{% endif %}
		</div>
		{{ form_end(teamForm) }}
	</div>

{% endblock %}
