{% block body %}
	<div class="card-body ">
		{{ form_start(placeForm, { attr: { class: 'd-flex flex-column ', id: 'formCreationForm', method: 'POST', enctype: 'multipart/form-data' }, action: path('app_place_creation') }) }}
		<div class="row">
			<div class="col-6">
				{{ form_label(placeForm.name) }}
				{{ form_widget(placeForm.name) }}
			</div>
			{% if places is not empty %}
				<div class="col-6 mt-auto accordion" id="accordionPlaceList">
					<div class="accordion-item shadow-lg shadow-lg-inset border border-dark">
						<h2 class="accordion-header" id="headingPlaceList">
							<button class="accordion-button btn btn-outline-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlaceList" aria-expanded="false" aria-controls="collapsePlaceList">
								Liste des Lieux
							</button>
						</h2>
						<div id="collapsePlaceList" class="accordion-collapse collapse" aria-labelledby="headingPlaceList" data-bs-parent="#accordionPlaceList">
							<div class="accordion-body">
								<ul class="list-group">
									{% for place in places %}
										{% if place.archived == false or place.archived == null %}

											<li class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-lg">
												{{ place.name }}
												<div class="ml-auto">
													<a class="btn btn-danger shadow delete-incident" href="{{path('app_delete_entity', {entityType: 'place', id: place.id})}}">Supprimer</a>
												</div>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="d-grid col-auto mx-auto">
			{{ form_label(placeForm.save) }}
			{{ form_widget(placeForm.save) }}
		</div>
		{{ form_end(placeForm) }}
	</div>
{% endblock %}
