{% extends 'base.html.twig' %}

{% block title %}
	Création de fiche
{% endblock %}


{% block body %}

	<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
		<div class="card-body">
			<h3 class="text-white mb-5" style="color:white">
				<strong>
					Création de Fiche de Non-Conformité :
				</strong>
			</h3>
			{{ form_start(form1, { attr: { class: 'd-flex flex-column ', id: 'formCreationForm', method: 'POST', enctype: 'multipart/form-data' }, action: path('app_form_creation') }) }}

			<div class="row g-3">
				<h3>
					<strong>
						Non-Conformity Registration :
					</strong>
				</h3>
				<div class="col-auto">
					{{ form_label(form1.Creator) }}
					{{ form_widget(form1.Creator) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.DetectionDate) }}
					{{ form_widget(form1.DetectionDate ) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.DetectionTime) }}
					{{ form_widget(form1.DetectionTime ) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.Team) }}
					{{ form_widget(form1.Team) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.DetectionPlace) }}
					{{ form_widget(form1.DetectionPlace) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.ProductDesignation) }}
					{{ form_widget(form1.ProductDesignation) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.Project) }}
					{{ form_widget(form1.Project) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.UAP) }}
					{{ form_widget(form1.UAP) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.NonConformityOrigin) }}
					{{ form_widget(form1.NonConformityOrigin) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.SAPReference) }}
					{{ form_widget(form1.SAPReference) }}
				</div>
				<h3>
					<strong>
						Problem Description :
					</strong>
				</h3>
				<div class="col-auto">
					{{ form_label(form1.AnomalyType) }}
					{{ form_widget(form1.AnomalyType) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.Quantity) }}
					{{ form_widget(form1.Quantity) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.QuantityToBlock) }}
					{{ form_widget(form1.QuantityToBlock) }}
				</div>
				<div class="col-auto">
					{{ form_label(form1.DetailedDescription) }}
					{{ form_widget(form1.DetailedDescription) }}
				</div>
				{{ form_row(form1._token) }}
				<div class="col-auto">
					<label class="form-label" for="picture_TraceabilityPicture">
						Photo de Traçabilité Obligatoire :
					</label>
					<div id="traceability-picture-container">
						<input type="file" id="picture_TraceabilityPicture" name="picture[TraceabilityPicture][]" multiple="multiple" class="form-control" placeholder="Photo de Traçabilité Obligatoire">
						<div id="TraceabilityPicturePreview"></div>
					</div>
				</div>
				<div class="col-auto">
					<label class="form-label" for="picture_NCpicture">
						Photo de non-conformité :
					</label>
					<div id="nc-picture-container">
						<input type="file" id="picture_NCpicture" name="picture[NCpicture][]" multiple="multiple" class="form-control" placeholder="Photo de non-conformité">
						<div id="NCpicturePreview"></div>
					</div>
				</div>
			</div>
			<h3>
				<strong>
					Immediate Conservatory Measures :
				</strong>
			</h3>
			{{ form_start(imcomeForm, { attr: {class: 'd-flex flex-column ', id: 'imcomeCreationForm', method: 'POST', enctype: 'multipart/form-data' }, action: path('app_form_creation') }) }}
			<div class="row g-3">
				<div class="col-auto">
					{{ form_label(imcomeForm.action) }}
					{{ form_widget(imcomeForm.action) }}
				</div>
				<div class="col-auto">
					{{ form_label(imcomeForm.customAction) }}
					{{ form_widget(imcomeForm.customAction) }}
				</div>
				<div class="col-auto">
					{{ form_label(imcomeForm.Manager) }}
					{{ form_widget(imcomeForm.Manager) }}
				</div>

				<div class="col-auto">
					{{ form_label(imcomeForm.status) }}
					{{ form_widget(imcomeForm.status) }}
				</div>

				<div class="col-auto">
					{{ form_label(imcomeForm.RealisedAt) }}
					{{ form_widget(imcomeForm.RealisedAt) }}
				</div>
			</div>
			{{ form_row(imcomeForm._token) }}
			<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
				<button type="submit" class="btn btn-primary mb-3 submit-upload-modification">
					Créer
				</button>
			</div>
			{{ form_end(imcomeForm) }}

			{{ form_end(form1) }}


		</div>
	</div>
{% endblock %}
