{% extends 'base.html.twig' %}
{% block title %}
	Création de fiche
{% endblock %}

{% block body %}
	<div class="col-lg-8 mx-auto">
		<div class="card border-0 shadow rounded-3 my-5 bg-secondary">
			<div class="card-body">
				<h3 class="text-white mb-5">
					<strong>Création de Fiche de Non-Conformité :</strong>
				</h3>
				{{ form_start(form1, { 
					attr: { 
						id: 'formCreationForm', 
						method: 'POST', 
						enctype: 'multipart/form-data' }, action: path('app_form_creation') }) }}
				<div class="row g-3">
					<h3>
						<strong>Enregistrement de la Non-Conformité:</strong>
					</h3>
					{% set fields = [
						'Creator', 'DetectionDate', 'DetectionTime', 'Team',
						'DetectionPlace', 'ProductDesignation', 'Project', 
						'UAP', 'NonConformityOrigin', 'SAPReference'
					] %}
					{% for field in fields %}
						{{ form_row(form1[field]) }}
					{% endfor %}
					<h3>
						<strong>Problem Description :</strong>
					</h3>
					{% set problemDetails = ['AnomalyType', 'Quantity', 'QuantityToBlock', 'DetailedDescription'] %}
					{% for detail in problemDetails %}
						{{ form_row(form1[detail]) }}
					{% endfor %}
					<div class="mb-3" id="traceability-picture-container">
						<label class="form-label" style="font-weight: bold; color: #ffffff;" for="picture_TraceabilityPicture">Photo de Traçabilité Obligatoire :</label>
						<input type="file" id="picture_TraceabilityPicture" name="picture[TraceabilityPicture][]" multiple="multiple" class="form-control mx-auto" placeholder="Photo de Traçabilité Obligatoire">
						<div id="TraceabilityPicturePreview"></div>
					</div>
					<div class="mb-3" id="nc-picture-container">
						<label class="form-label" style="font-weight: bold; color: #ffffff;" for="picture_NCpicture">Photo de non-conformité :</label>
						<input type="file" id="picture_NCpicture" name="picture[NCpicture][]" multiple="multiple" class="form-control mx-auto" placeholder="Photo de non-conformité">
						<div id="NCpicturePreview"></div>
					</div>
					<h3>
						<strong>Mesures Conservatoire Immediates:</strong>
					</h3>
					<div id="imcome-container" data-prototype="{{ form_widget(form1.immediateConservatoryMeasures.vars.prototype)|e('html_attr') }}">
						{% for imcomeFormEntry in form1.immediateConservatoryMeasures %}
							<div class="imcome-entry">
								{{ form_widget(imcomeFormEntry) }}
							</div>
						{% endfor %}
					</div>

					<button type="button" id="add-another-imcome" class="btn btn-info">Add Another Measure</button>
					<h3>
						<strong>Priorization de la non-conformité :</strong>
					</h3>
					{% for riskWeightingFormEntry in form1.riskWeighting %}
						{{ form_row(riskWeightingFormEntry) }}
					{% endfor %}
					<div class="risk-priority-explanation"></div>
					<div id="rpi-high-risk" style="color: #ffcccb;">
						<strong>Risque Élevé:</strong>
						Réaliser une analyse 8D.</div>
					<div id="rpi-medium-risk" style="color: #ffeda6;">
						<strong>Risque Moyen:</strong>
						Réaliser une analyse de causes potentielles.</div>
					<div id="rpi-low-risk" style="color: #c8f7c5;">
						<strong>Risque Faible:</strong>
						Pas d'analyse, affichage au poste : Alerte d'un Problème.</div>
				</div>
				{{ form_row(form1._token) }}
				<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-5">
					<button type="submit" class="btn btn-primary mb-3 submit-upload-modification">Créer</button>
				</div>
			</div>

			{{ form_end(form1) }}
		</div>
	</div>
{% endblock %}
