{% block body %}
	<div class="card-body">
		{{ form_start(originForm, { attr: { class: 'd-flex flex-column', 
		id: 'originCreationForm', 
		method: 'POST', 
		enctype: 'multipart/form-data' }, 
		action: path('app_origin_creation') }) }}
		<div class="row">
			<div class="col-6">
				{{ form_label(originForm.name) }}
				{{ form_widget(originForm.name) }}
				<div class="d-grid col-auto mx-5 ">
					{{ form_label(originForm.save) }}
					{{ form_widget(originForm.save) }}
				</div>
			</div>

			{% if origins is not empty %}
				<div class="col-6 mt-auto mb-auto accordion" id="accordionOriginList">
					<div class="accordion-item shadow-lg shadow-lg-inset border border-dark">
						{% set archivedOrigins = [] %}
						{% set nonArchivedOrigins = [] %}

						{% for origin in origins %}
							{% if origin.archived == true %}
								{% set archivedOrigins = archivedOrigins|merge([origin]) %}
							{% elseif origin.archived == false or origin.archived is null %}
								{% set nonArchivedOrigins = nonArchivedOrigins|merge([origin]) %}
							{% endif %}
						{% endfor %}


						{% if nonArchivedOrigins is not empty %}
							<h2 class="accordion-header" id="headingOriginList">
								<button class="accordion-button btn btn-outline-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOriginList" aria-expanded="false" aria-controls="collapseOriginList">
									Liste des Origines
								</button>
							</h2>
							<div id="collapseOriginList" class="accordion-collapse collapse" aria-labelledby="headingOriginList" data-bs-parent="#accordionOriginList">
								<div class="accordion-body">
									<ul class="list-group">
										{% for origin in nonArchivedOrigins %}
											<li class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-lg">
												{{ origin.name }}
												<div class="ml-auto">
													<a class="btn btn-danger shadow archive-entity" href="{{path('app_archive_entity', {entityType: 'origin', id: origin.id})}}">Archiver</a>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

						{% if archivedOrigins is not empty %}
							<h2 class="accordion-header" id="headingArchivedOriginsList">
								<button class="accordion-button btn btn-outline-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseArchivedOriginsList" aria-expanded="false" aria-controls="collapseArchivedOriginsList">
									Liste des Origines Achivées
								</button>
							</h2>
							<div id="collapseArchivedOriginsList" class="accordion-collapse collapse" aria-labelledby="headingArchivedOriginsList" data-bs-parent="#accordionOriginList">
								<div class="accordion-body">
									<ul class="list-group">
										{% for origin in archivedOrigins %}

											<li class="list-group-item d-flex justify-content-between align-items-center mb-3 shadow-lg">
												{{ origin.name }}
												<div class="ml-auto">
													<a class="btn btn-danger shadow restore-entity" href="{{path('app_unarchive_entity', {entityType: 'origin', id: origin.id})}}">Restorer</a>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}

					</div>
				</div>
			{% endif %}
		</div>
		{{ form_end(originForm) }}
	</div>

{% endblock %}
