{% extends 'base.html.twig' %}

{% block title %}
	Page d'Administration
{% endblock %}

{% block body %}

	<h1>
		Page d'Administration
	</h1>

	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				{% include "services/admin_services/accountservices/create_account.html.twig" %}

			</div>
		</div>
	</div>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				{{ render(controller('App\\Controller\\AdminController::teamCreation')) }}

			</div>
		</div>
	</div>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				{{ render(controller('App\\Controller\\AdminController::projectCreation')) }}

			</div>
		</div>
	</div>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				{{ render(controller('App\\Controller\\AdminController::originCreation')) }}

			</div>
		</div>
	</div>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				{{ render(controller('App\\Controller\\AdminController::uapCreation')) }}

			</div>
		</div>
	</div>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				{{ render(controller('App\\Controller\\AdminController::anomalyTypeCreation')) }}


			</div>
		</div>
	</div>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				{{ render(controller('App\\Controller\\AdminController::placeCreation')) }}

			</div>
		</div>
	</div>
	<div class="card border-0 shadow rounded-3 my-5">
		<div class="card-body">
			<div class="row">
				{{ render(controller('App\\Controller\\AdminController::imcomeListCreation')) }}

			</div>
		</div>
	</div>

{% endblock %}
